<header>
<%= link_to "TOP", root_path %>
<%= link_to "ログアウト", destroy_user_session_path, method: "delete" %>
</header>
<h2>無料新規会員登録</h2>
<% if @solo_user.confirming != '1' %> 
  <%= form_with(model: @solo_user, local: true) do |f| %>
    <div>
      
      <%= f.label :ニックネームまたはチーム名 %>
      <%= f.text_field :name %><br>

      <%= f.label :登録種別 %>
      <%= f.radio_button :category, "チーム" %> チーム
      <%= f.radio_button :category, "個人" %>個人<br>

      <%= f.label :登録種別 %>
      <%= f.radio_button :sports, "サッカー" %> サッカー
      <%= f.radio_button :sports, "フットサル" %>フットサル<br>

      <%= f.hidden_field :confirming %>

      <%= f.submit "確認画面へ" %>
    </div>
  <% end %>
<% else %>
  <%= form_with(model: @solo_user, local: true) do |f| %>
    <div>
    <% if @solo_user.category == 'チーム' then %>
      <%= f.label :チーム名 %>
      <%= @solo_user.name %><br>
    <% else %>
      <%= f.label :ニックネーム %>
      <%= @solo_user.name %><br>
    <% end %>

      <%= f.label :登録種別 %>
      <% if @solo_user.sports == 'チーム' then %> 
        チーム
      <% else %>
        個人
      <% end %><br>

      <%= f.label :スポーツ種別 %>
      <% if @solo_user.sports == 'サッカー' then %> 
        サッカー
      <% else %>
        フットサル
      <% end %><br>

      <%= f.hidden_field :name %>
      <%= f.hidden_field :category %>
      <%= f.hidden_field :sports %>
      <%= f.hidden_field :confirming %>

      <%= f.submit "会員登録" %>
    </div>
  <% end %>

  <%= link_to "戻る", solo_users_back_path %>
<% end %>
