<div class="top-box">
  <%= image_tag 'a000911782_01.jpg', class: "field-image" %>
    <div class="top-contents">
      <h2>On Field（オンフィールド）とは&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; </h2>
      <div class="content" >
      <p>ー&ensp; On Fieldはサッカー・フットサルに特価した<b><u>完全無料のマッチングプラットフォーム</u></b>です。</p>
      <p>ー&ensp; チームでの活動では練習試合相手を募集、個人での活動では参加しづらい個サル仲間を募集できます。</p>
      <p>ー&ensp; カレンダー機能によって自分が活動したい日の募集をピンポイントに探すことができます。</p>
      </div>
    </div>
</div>

<div id='main'>

<%# カレンダー %>
      <div class='calender'>
        <%= month_calendar events: @events do |date, events| %>
          <div class='a'>
            <%= link_to date.day, {controller: :posts, action: :show, start_time: date } %>
          </div>
        <% end %>
      </div>

<%# 検索機能 %>
  <div class='sort'>
    <h3>絞り込み機能</h3></br>
    <%= form_tag(posts_search_path, method: "get") do %>
      <div class="select-tab">
        <%= select_tag(:area, options_for_select(@area)) %></br>
        <%= select_tag(:sports, options_for_select(@sports)) %></br>
        <%= select_tag(:match, options_for_select(@match)) %></br>
        <%= submit_tag "絞り込み" %>
      </div>
    <% end %>
    <%= link_to "絞り込み解除", posts_search_clear_path %>
  </div>

</div>