<div class="sign-up-outer">
<div class="sign-up-inner">
  <div class="sign-up-top">
    <div class="sign-up-image">
      <img src="/assets/OnField-logo.png" width="128" height="100">
    </div>
    <p><font size="5" color="#3cb371" face="">無料新規会員登録</font></p>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="sign-up-outer-box">
        <div class="sign-up-inner-box">
          <div class="sign-up-label">
            <div>
              <%= f.label :"メールアドレス" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
            <div>
              <%= f.label :"パスワード" %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> 文字以上)</em>
                <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
            <div>
              <%= f.label :"パスワード確認" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
          </div>
        <div class="sign-up-contents">
          利用規約とプライバシーポリシー
        </div>
          <div class="scroll">
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p><br />
            <%= f.check_box :accepted,{},checked_value = "true",unchecked_value = "false" %>利用規約、及び、個人情報の取扱に同意する
          </div><br />
          <div class="sign-up-bottom">
            <%= f.submit "次へ", class: "btn btn-success login-btn" %></br>
    <% end %>
      <%= render "devise/shared/links" %>
          </div>
      </div>
    </div>
</div>
</div>